{
  "presets": [
    "stage-2",
    [
      "env",
      {
        "useBuiltIns": true,
        "targets": {
          "node": "6.9.0",
          "browsers": "defaults"
        },
        "exclude": [
          "transform-async-to-generator",
          "transform-regenerator"
        ]
      }
    ]
  ],
  "plugins": [
    [
      "transform-class-properties",
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
